.pickUs__flex {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 0.25s forwards;
  -moz-animation: fadeIn 0.15s linear 0.25s forwards;
  -o-animation: fadeIn 0.15s linear 0.25s forwards;
  animation: fadeIn 0.15s linear 0.25s forwards;
}

.pickUsItem:nth-child(1) {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 0.7s forwards;
  -moz-animation: fadeIn 0.15s linear 0.7s forwards;
  -o-animation: fadeIn 0.15s linear 0.7s forwards;
  animation: fadeIn 0.15s linear 0.7s forwards;
}

.pickUsItem:nth-child(1) .pickUsItem__upperZone {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 0.9s forwards;
  -moz-animation: fadeIn 0.15s linear 0.9s forwards;
  -o-animation: fadeIn 0.15s linear 0.9s forwards;
  animation: fadeIn 0.15s linear 0.9s forwards;
}

.pickUsItem:nth-child(1) .pickUsItem__downZone {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 1.1s forwards;
  -moz-animation: fadeIn 0.15s linear 1.1s forwards;
  -o-animation: fadeIn 0.15s linear 1.1s forwards;
  animation: fadeIn 0.15s linear 1.1s forwards;
}

.pickUsItem:nth-child(2) {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 1.35s forwards;
  -moz-animation: fadeIn 0.15s linear 1.35s forwards;
  -o-animation: fadeIn 0.15s linear 1.35s forwards;
  animation: fadeIn 0.15s linear 1.35s forwards;
}

.pickUsItem:nth-child(2) .pickUsItem__upperZone {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 1.55s forwards;
  -moz-animation: fadeIn 0.15s linear 1.55s forwards;
  -o-animation: fadeIn 0.15s linear 1.55s forwards;
  animation: fadeIn 0.15s linear 1.55s forwards;
}

.pickUsItem:nth-child(2) .pickUsItem__downZone {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 1.65s forwards;
  -moz-animation: fadeIn 0.15s linear 1.65s forwards;
  -o-animation: fadeIn 0.15s linear 1.65s forwards;
  animation: fadeIn 0.15s linear 1.65s forwards;
}

.pickUsItem:nth-child(3) {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 1.85s forwards;
  -moz-animation: fadeIn 0.15s linear 1.85s forwards;
  -o-animation: fadeIn 0.15s linear 1.85s forwards;
  animation: fadeIn 0.15s linear 1.85s forwards;
}

.pickUsItem:nth-child(3) .pickUsItem__upperZone {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 1.95s forwards;
  -moz-animation: fadeIn 0.15s linear 1.95s forwards;
  -o-animation: fadeIn 0.15s linear 1.95s forwards;
  animation: fadeIn 0.15s linear 1.95s forwards;
}

.pickUsItem:nth-child(3) .pickUsItem__downZone {
  opacity: 0;
  -webkit-animation: fadeIn 0.15s linear 2.1s forwards;
  -moz-animation: fadeIn 0.15s linear 2.1s forwards;
  -o-animation: fadeIn 0.15s linear 2.1s forwards;
  animation: fadeIn 0.15s linear 2.1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.active {
  opacity: 0;
}

.transition {
  transition: 0.5s;
}
