body {
  overflow-x: hidden;
}

.Layout {
  height: 100%;
  width: 100%;
}

.Layout__wave {
  z-index: 0;
  width: 250%;
  position: absolute;
  top: 5%;
  left: calc(-30% + -10vw);
  height: 100%;
  transform: rotate(-105deg);
}
