.Layout {
  height: 100%;
  width: 100%;
}

.Layout__wave {
  z-index: 0;
  width: 200% !important;
  position: absolute;
  top: 10%;
  left: calc(-5% + -10vw);
  height: 100%;
  transform: rotate(-105deg);
}
