body {
  overflow-x: hidden;
}

.Layout {
  height: 100%;
  width: 100%;
}

.Layout__waves-container {
  position: absolute;
  top: 0;
  bottom: 0;
}

.Layout__wave {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  transform: rotate(-90deg);
}
