.NotFound {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", sans-serif;
}

.textContainer {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textContainer img {
  height: 35%;
  width: auto;
  margin-bottom: 20%;
  margin-left: 15%;
}

.textContainer .NotFound__text {
  margin-bottom: 17.5%;
}

.textContainer .NotFound__text h1 {
  font-size: 3.5vw;
}
.textContainer .NotFound__text p {
  font-size: 2vw;
}

.NotFound__button {
  margin-top: 15%;
  background: #e87840;
  font-weight: 300;
  font-size: 1.25vw;
  border-radius: 20px;
  padding: 1% 7%;
  text-align: center;
}

.NotFound__button a {
  color: white;
  text-decoration: none;
}

.NotFound__wave {
  z-index: 0;
  width: 100% !important;
  position: absolute;
  bottom: -10%;
  height: 30%;
}
