#overflow-wrapper {
  overflow-x: hidden;
}

.TrustPilot__container {
  z-index: 2;
}

.Header__links {
  width: 75%;
}

@media only screen and (min-width: 802px) and (max-width: 1100px) {
  /*--- Tablet --- */

  .Header__links {
    padding-right: 1vw;
  }

  /* Home Page */

  .TrustPilot__container {
    position: absolute;
    bottom: 30% !important;
  }

  /* Discord Page */

  .Discord__hero {
    width: 75%;
  }

  .Discord__hero .CarouselItem__photo img {
    height: 60%;
    margin-bottom: 15%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 801px) {
  /* MOBILE */

  .Home > div {
    display: none;
  }

  /* CAROUSEL */

  .Home .Carousel {
    display: flex;
    width: 100%;
    height: 95vw;
  }
  .Carousel__zIndex {
    grid-template-columns: minmax(0px, 100%);
    height: 90%;
  }

  .Carousel__buttons-container {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .Carousel__buttons-container > div {
    width: 50%;
    height: 80%;
  }

  .Carousel__buttons-container > div > img {
    width: 8.5%;
  }

  .CarouselItem__grid {
    grid-template-columns: minmax(0px, 100%);
    grid-template-rows: minmax(0px, 100%);
  }

  .CarouselItem__info {
    padding: 0 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .CarouselItem__title {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3.5%;
  }

  .CarouselItem__info .CarouselItem__title > div > h1 {
    font-size: 5vw;
  }

  .CarouselItem__info h2 {
    height: 7.5%;
    width: 70%;
    font-size: 3.2vw;
    margin-top: 0;
  }

  .CarouselItem__info p {
    margin-top: 7.5%;
    margin-bottom: 0;
    font-size: 3vw;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Open Sans", "Helvetica Neue", sans-serif;
  }

  .CarouselItem__title img {
    margin: 0;
    height: 80%;
  }

  .CarouselItem__td {
    width: 80%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .CarouselItem__button {
    height: 80%;
    width: 50%;
    display: block;
    border-radius: 12px;
    font-size: 3.5vw;
  }

  /* PICKUS */

  .Home .pickUs__all {
    display: flex;
    height: 100vw;
  }

  .pickUs__flex .pickUs__title h1 {
    font-size: 4vw;
  }

  .pickUsItem {
    width: 87.5%;
  }

  .pickUsItem__upperZone {
    height: 40%;
  }

  .pickUsItem__lowerZone {
    height: 60%;
  }

  .pickUsItem__upperZone h1 {
    font-size: 5vw;
  }

  .pickUsItem__upperZone img {
    height: 10vw;
    padding: 1%;
  }

  .pickUsItem__downZone p {
    font-size: 2.3vw;
    width: 85%;
    padding-top: 2%;
  }

  /* REVIEWS */

  .Home .TrustPilot__Carousel {
    display: flex;
    height: 70vw;
  }

  .TrustPilot__zIndex {
    height: 85%;
    flex-direction: column;
  }

  .TrustPilot__review {
    width: 95%;
    height: 80%;
  }

  .TPItem__all {
    width: 95%;
    height: 90%;
  }

  .TPItem__info {
    height: 75% !important;
    margin-top: 5%;
    width: 100%;
  }

  .TPItem__info > blockquote {
    height: 82.5%;
    width: 90%;
  }

  .TPItem__info > blockquote h1 {
    font-size: 4.8vw;
    padding-left: 2%;
    margin-bottom: 0;
  }

  .TPItem__info > blockquote h2 {
    font-size: 3.5vw;
    padding-left: 3.5%;
    margin-bottom: 1.5%;
    color: rgb(94, 94, 94);
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
  }

  .TPItem__info > blockquote > blockquote {
    height: 70%;
    padding-left: 3.5%;
  }

  .TPItem__info > blockquote > blockquote::before {
    font-size: 7vw;
  }

  .TPItem__info > blockquote > blockquote::after {
    font-size: 7vw;
  }

  .TPItem__info > blockquote > blockquote p {
    font-size: 3.25vw;
    line-height: 5vw;
  }

  .TPItem__user {
    height: 20% !important;
    margin: 2.5% 0;
  }

  .TPItem__user p {
    font-size: 3.5vw;
  }

  .TrustPilot__buttons-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TrustPilot__buttons-container > div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TrustPilot__buttons-container > div > img {
    left: 0;
    top: 0;
    position: static;
    height: 100%;
  }

  .TrustPilot__container {
    height: 5%;
    position: static !important;
  }

  /* HEADER */

  .Header__header {
    height: 17vw;
    padding: 0;
    transition: 0.8s;
  }

  .Header__img-container img {
    height: 45%;
    transition: 0.8s;
  }

  .Header__container h1 {
    font-size: 3.5vw;
  }

  .Header__links {
    width: 75%;
  }

  .Header__links img {
    transition: 0.8s;
  }

  .Header__links p {
    margin: 0 2vw;
    font-size: 2.5vw;
  }

  .Header__product-hover {
    display: none;
  }

  .Header__pages-hover {
    display: none;
  }

  .Header__Productos,
  .Header__pages {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header__Productos:hover ~ .Header__product-hover {
    opacity: 0;
  }

  .Header__Pages:hover ~ .Header__pages-hover {
    opacity: 0;
  }

  .Header__links .Header__Inicio,
  .Header__links .Header__Productos,
  .Header__links .Header__Pages {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .Header__Productos:hover {
    width: 15vw;
  }

  .Header__Productos:hover .Header__links .Header__Inicio,
  .Header__Productos:hover .Header__links .Header_Pages {
    width: 15vw;
  }

  .Header__Pages:hover {
    width: 15vw;
  }

  .Header__Pages:hover .Header__links .Header__Inicio,
  .Header__Pages:hover .Header__links .Header_Productos {
    width: 15vw;
  }

  .Header__links-columnContainer {
    height: 100%;
    width: 100%;
  }

  .Header__links-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header__links-clickItems {
    width: 100%;
    height: auto;
  }

  .Header__product-click {
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  .Header__pages-click {
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  .Header__item-visible {
    pointer-events: all;
    opacity: 1;
  }

  .Header__item2-visible {
    pointer-events: all;
    opacity: 1;
  }

  .Header__expand {
    height: 40vw;
  }

  .Header__expand .Header__links img {
    height: 15%;
  }

  .Header__expand .Header__img-container img {
    height: 20%;
  }

  .Header__links-columnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s;
  }

  .Header__links-container {
    height: 25%;
    transition: 0.8s;
  }

  .Header__links-map {
    text-align: center;
    transition: 0.8s;
  }

  .Header__links {
    align-items: center;
  }

  .Header__expand .Header__links p {
    font-size: 2.5vw;
  }

  .Header__expand .Header__expand-item-p p {
    margin: 3.5% 0;
  }

  /* HOME PAGE */

  .pickUsItem {
    border-radius: 5px;
  }

  /* MINECRAFT */

  .Minecraft__Page {
    height: auto;
  }

  .Minecraft__Page > div {
    display: none;
  }

  .Minecraft__Page .Minecraft__hero-container {
    height: 70vw;
    display: flex;
  }

  .Minecraft__Page .CarouselItem__info {
    padding: 0 10%;
    margin-top: 0;
  }

  .Minecraft__Page .CarouselItem__info h2 {
    font-size: 3vw;
  }

  .Minecraft__Page .CarouselItem__button {
    width: 60%;
  }

  .Minecraft__hero {
    width: 90%;
  }

  .Minecraft__Page .Plans__container-details {
    display: flex;
  }

  .Plans__container-details .react-reveal {
    flex-direction: column;
    align-items: center;
  }

  .PlanDetails__modal {
    border-radius: 10px;
    height: 75vw;
    width: 90%;
    justify-content: center;
  }

  .Minecraft__Page .MachineItem__card-button a p {
    font-size: 2.85vw;
  }

  .PlanDetails__columns {
    height: 90%;
    margin: 0;
    padding: 0;
  }

  .PlanDetails__1,
  .PlanDetails__2,
  .PlanDetails__3,
  .PlanDetails__4 {
    height: 33.3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Minecraft__Page .PlanDetails__item {
    justify-content: center;
    padding: 0 2%;
  }

  .Minecraft__Page .PlanDetails__item img {
    margin-bottom: 0;
  }

  .Minecraft__Page .PlanDetails__item h1 {
    font-size: 2.5vw;
  }

  .PlanDetails__modal-2 {
    height: auto;
  }

  .PlanDetails__modal-2 .PlanDetails__machines {
    height: 100%;
    flex-direction: column;
  }
  .PlanDetails__modal-2 .PlanDetails__machines > div {
    height: 27.5vw;
    width: 100%;
  }

  .PlanDetails__modal-2 .PlanDetails__machines > div .MachineItem__content {
    height: 80%;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__title
    img {
    height: 60%;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__title
    p {
    font-size: 3.8vw;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__ram
    p {
    font-size: 5vw;
    color: white;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__ram
    span {
    font-size: 2.85vw;
    color: white;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__price
    p {
    font-size: 5vw;
    color: white;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__price
    span {
    font-size: 2.85vw;
    color: white;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > div
    .MachineItem__content
    .MachineItem__button
    > div
    > a
    > p {
    font-size: 2.85vw;
    color: black;
  }

  .MachineItem__content {
    border-radius: 8px;
  }

  .MachineItem__title {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .PlanDetails__modal-2 .PlanDetails__machines .MachineItem__card {
    height: 50vw;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__card
    .MachineItem__content {
    height: 90%;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__card
    .MachineItem__content
    .MachineItem__card-info
    .MachineItem__card-info-title
    p {
    font-size: 5vw;
    color: white;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__card
    .MachineItem__content
    .MachineItem__card-specDiv {
    height: 55%;
    padding-bottom: 5%;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__card
    .MachineItem__content
    .MachineItem__card-spec {
    width: 80%;
    height: 40%;
    margin-top: 0;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__card
    .MachineItem__content
    .MachineItem__card-spec-half {
    width: 50%;
    height: 90%;
    font-size: 4vw;
    color: white;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__card
    .MachineItem__content
    .MachineItem__card-button {
    height: 25%;
    margin: 0;
  }
  .PlanDetails__modal-2 .PlanDetails__machines > .MachineItem__single {
    height: 32.5vw;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__single
    .MachineItem__content {
    width: 90%;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__single
    .MachineItem__content
    .MachineItem__title {
    width: 42.5%;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__single
    .MachineItem__content
    .MachineItem__title
    > p {
    margin: 0;
  }

  .PlanDetails__modal-2
    .PlanDetails__machines
    > .MachineItem__single
    .MachineItem__content
    .MachineItem__ram {
    width: 40%;
  }

  /* DISCORD */

  .Discord__Page {
    height: auto;
  }

  .Discord__Page .Discord__hero-container {
    height: 70vw;
    display: flex;
  }

  .Discord__Page .CarouselItem__info {
    padding: 0 10%;
    margin-top: 0;
  }

  .Discord__Page .CarouselItem__info h2 {
    font-size: 3vw;
  }

  .Discord__Page .CarouselItem__button {
    width: 60%;
  }

  .Discord__Page .Discord__features {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .Discord__features > div {
    width: 70%;
    height: 70vw;
  }

  .Discord__FeatureItem {
    width: 100%;
    height: 90%;
  }

  .Discord__upperZone {
    height: 45%;
  }

  .Discord__lowerZone {
    height: 55%;
  }

  .Discord__downZone p {
    width: 85%;
    font-size: 3.5vw;
  }

  .Discord__upperZone img {
    height: 10vw;
  }

  .Discord__upperZone h1 {
    font-size: 4.9vw;
  }

  .Discord__Page .Discord__plans {
    display: flex;
    height: auto;
    margin-top: 10vw;
    padding: 2% 0;
  }

  .Discord__plans-container {
    width: 90%;
  }

  .Discord__plans-lowerPlan {
    height: 27.5vw;
    width: 90%;
    margin: 2.5% 0;
  }

  .Discord__plans-lowerPlan:first-child {
    margin-top: 5vw;
  }

  .Discord__plans-lowerPlan-left h1 {
    font-size: 3.7vw;
  }

  .Discord__plans-lowerPlan-button {
    width: 80%;
    height: 30%;
    margin-top: 55%;
    border-radius: 6px;
  }

  .Discord__plans-lowerPlan-button p {
    font-size: 2.6vw;
  }

  .Discord__plans-lowerPlan-right-row p {
    font-size: 4vw;
  }

  .Discord__plans-lowerPlan-right-row span {
    font-size: 2.9vw;
  }

  .Discord__plans-upperPlan {
    height: calc(50vw - 5vw);
    width: 90%;
    margin: 2.5vw 0;
  }

  .Discord__plans-upperPlan-left > h1 {
    font-size: 4.8vw;
  }

  .Discord__plans-upperPlan-price h1 {
    font-size: 5.8vw;
  }

  .Discord__plans-upperPlan-price p:last-child {
    font-size: 3.5vw;
  }

  .Discord__plans-upperPlan-button {
    margin-top: 20%;
  }

  .Discord__plans-upperPlan-button a {
    font-size: 3vw;
  }

  .Discord__plans-upperPlan-features {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Discord__plans-upperPlan-features-item-key p,
  .Discord__plans-upperPlan-features-item-value p {
    font-size: 4vw;
  }

  .Discord__FeatureItem {
    border-radius: 5px;
  }

  .PoweredBy__inside {
    border-radius: 6px;
  }

  .Discord__plans-container {
    border-radius: 4px;
  }

  .Discord__plans-lowerPlan {
    margin-top: 1vw;
  }

  .Discord__plans-lowerPlan-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .Discord__plans-upperPlan {
    border-radius: 4px;
  }

  .Discord__plans-upperPlan-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .Discord__plans-lowerPlan {
    border-radius: 4px;
  }

  /* POWEREDBY */

  .PoweredBy__container {
    height: auto;
    flex-direction: column;
    width: 85%;
  }

  .PoweredBy__item:first-child {
    width: 95%;
    height: 35vw;
  }

  .PoweredBy__inside {
    height: 100%;
  }

  .PoweredBy__item h1 {
    font-size: 4.4vw;
  }

  .PoweredBy__item p {
    font-size: 3vw;
  }

  .PoweredBy__item {
    width: 100%;
    height: 50vw;
    margin: 3.5% 0;
  }

  .PoweredBy__item:last-child > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PoweredBy__item img {
    width: 90%;
  }

  /* WEBHOSTING */

  .Web__plans {
    border-radius: 10px;
  }

  .WebPlanItem__container-first_child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .WebPlanItem__container-last_child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .WebPlanItem__row-8_3 {
    border-bottom-right-radius: 10px;
  }

  .Web__Page {
    height: auto;
  }

  .Web__Page .Web__hero-container {
    height: 70vw;
    display: flex;
  }

  .Web__Page .CarouselItem__info {
    padding: 0 10%;
    margin-top: 0;
  }

  .Web__Page .CarouselItem__info h2 {
    font-size: 2.2vw;
    padding: 1.2% 2%;
  }

  .Web__Page .CarouselItem__button {
    width: 60%;
  }

  /* VPS LINUX */

  .VPS__Page {
    height: auto;
  }

  .VPS__Page .Web__hero-container {
    height: 70vw;
    display: flex;
  }

  .VPS__Page .CarouselItem__info {
    padding: 0 10%;
    margin-top: 0;
  }

  .VPS__Page .CarouselItem__info h2 {
    font-size: 3vw;
    padding: 0.5% 2%;
  }

  .VPS__Page .CarouselItem__button {
    width: 60%;
  }

  .VPS__Page .Web__plans-container {
    height: 80vw;
    width: 100%;
  }

  .VPS__Page .Web__plans {
    width: 90%;
  }

  .VPS__Page .Web__plans-container {
    height: auto;
    width: 100%;
  }

  .VPS__Page .Web__mobilePlans {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .VPS__Page .Web__mobilePlans .TS3PlanItem__desc {
    padding-top: 5%;
  }

  .VPS__Page .VPS__Features {
    height: 90vw;
  }

  .VPS__Page .VPS__Features-column {
    height: 33.3%;
  }

  .VPS__Page .PlanDetails__item h1 {
    font-size: 3vw;
  }

  /* WEB */

  .Web__Page .Web__plans-container {
    height: auto;
  }

  .Web__Page .Web__mobilePlans {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Web__Page .TS3PlanItem__item {
    height: 80vw;
  }

  .Web__Page .TS3PlanItem__desc {
    padding-top: 0;
  }

  /* FOOTER */

  .footer {
    height: 80vw;
    flex-direction: column;
    position: relative;
    bottom: 0;
    margin-top: 3vw;
    width: calc(100%+8px);
  }

  .footer__redes {
    margin-top: 3vw;
    width: 40%;
  }

  .footer__redes div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .footer__redes a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45%;
    margin: 0;
    margin: 0 5%;
  }

  .footer__redes div img {
    height: 60%;
    margin: 20% 10%;
  }

  .footer h1 {
    font-size: 3.4vw;
    text-align: center;
  }

  .footer h2 {
    font-size: 3.4vw;
    text-align: center;
  }

  .footer__links {
    height: 25vw;
    width: 80%;
  }

  .footer__links h1 {
    margin-bottom: 1.35vw;
  }

  .footer p {
    font-size: 2.2vw;
  }

  .footer__links p {
    font-size: 2.8vw;
  }

  .footer__logo {
    margin-bottom: 3vw;
    position: relative;
    bottom: 4.5vw;
  }

  /* TS3 */

  .TS3__Page {
    height: auto;
  }

  .TS3__container {
    height: auto;
    display: block;
  }

  .TS3__Page .TS3__hero-container {
    height: 70vw;
    display: flex;
  }

  .TS3__Page .CarouselItem__info {
    padding: 0 10%;
    margin-top: 0;
  }

  .TS3__Page .CarouselItem__info h2 {
    font-size: 2.6vw;
    width: 90%;
    padding: 0.5% 2%;
  }

  .TS3__Page .CarouselItem__button {
    width: 60%;
  }

  .TS3__Page .TS3__features {
    display: flex;
    height: auto;
  }

  .TS3__features-container {
    height: 95%;
    width: 85%;
  }

  .TS3__features-list {
    row-gap: 0;
    column-gap: 0;
    margin: 2.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .TS3__features-title {
    font-size: 4.5vw;
  }

  .TS3_featureItemContainer {
    height: 40vw;
  }

  .TS3__content > h1 {
    font-size: 5vw;
  }

  .TS3__content-active > div {
    height: 70%;
  }

  .TS3__content-active .TS3__content-title {
    height: 30%;
  }

  .TS3__content-title-border {
    font-size: 3.8vw;
  }

  .TS3__content-active > div {
    font-size: 2.5vw;
  }

  .TS3__plans {
    height: auto;
    flex-direction: column;
  }

  .TS3PlanItem__item {
    height: 50vw;
    width: 80%;
    margin: 3% 0;
  }

  .TS3PlanItem__button-container h1 {
    font-size: 2.7vw;
  }

  .TS3PlanItem__button-container:hover h1 {
    font-size: 3.2vw !important;
  }

  .TS3PlanItem__priceSide > p {
    font-size: 4.6vw;
  }

  .TS3PlanItem__priceButton > p {
    font-size: 3vw;
  }

  .TS3PlanItem__titleSide h1 {
    font-size: 4.6vw;
  }

  .TS3PlanItem__titleSide p {
    font-size: 3.3vw;
  }

  .TS3PlanItem__desc {
    padding-top: 7.5%;
  }

  .TS3PlanItem_descItem {
    font-size: 2.7vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1100px) {
  ::-webkit-scrollbar {
    width: 1px; /* Tamaño del scroll en vertical */
    height: 1px; /* Tamaño del scroll en horizontal */
    display: none; /* Ocultar scroll */
  }
  /* HOME PAGE */
  /* s
  .Carousel {
    width: 100%;
    margin-bottom: 5vw;
  }

  .Carousel__zIndex {
    grid-template-columns: minmax(0px, 10%) minmax(0px, 80%) minmax(0px, 10%);
  }

  .Carousel__button img {
    width: 30%;
  }

  .CarouselItem__grid {
    grid-template-columns: minmax(0px, 40%) minmax(0px, 60%);
  } */

  .TrustPilot__Carousel {
    margin-bottom: 5vh;
    height: 40vw;
  }

  .TPItem__info {
    height: auto;
  }

  .TPItem__user {
    height: auto;
  }

  .TrustPilot__Carousel .dots__container {
    bottom: -0vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .TPItem__info > blockquote {
    height: 100% !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .Layout {
    background-image: url("https://i.imgur.com/5IbOVaI.png");
    background-position: 70%;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
  }
}
